<main>
    <h1 class="display-6">Redesigned sites</h1>
    <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" checked>
        <label class="form-check-label">
            <a href="/bio" target="_blank" class="btn btn-primary py-0">bio</a>
        </label>
    </div>
    <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" checked>
        <label class="form-check-label">
            <a href="/car" target="_blank" class="btn btn-primary py-0">car</a>
        </label>
    </div>
    <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" checked>
        <label class="form-check-label">
            <a href="/education" target="_blank" class="btn btn-primary py-0">education</a>
        </label>
    </div>
    <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" checked>
        <label class="form-check-label">
            <a href="/facebook" target="_blank" class="btn btn-primary py-0">facebook</a>
        </label>
    </div>
    <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" checked>
        <label class="form-check-label">
            <a href="/js" target="_blank" class="btn btn-primary py-0">js</a>
        </label>
    </div>
    <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" checked>
        <label class="form-check-label">
            <a href="/mac" target="_blank" class="btn btn-primary py-0">mac</a>
        </label>
    </div>
    <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" checked>
        <label class="form-check-label">
            <a href="/person" target="_blank" class="btn btn-primary py-0">person</a>
        </label>
    </div>
    <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" checked>
        <label class="form-check-label">
            <a href="/program" target="_blank" class="btn btn-primary py-0">program</a>
        </label>
    </div>
    <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" checked>
        <label class="form-check-label">
            <a href="/shopcart" target="_blank" class="btn btn-primary py-0">shopcart</a>
        </label>
    </div>
    <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" checked>
        <label class="form-check-label">
            <a href="/shopcatalog" target="_blank" class="btn btn-primary py-0">shopcatalog</a>
        </label>
    </div>
    <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" checked>
        <label class="form-check-label">
            <a href="/shophome" target="_blank" class="btn btn-primary py-0">shophome</a>
        </label>
    </div>
    <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" checked>
        <label class="form-check-label">
            <a href="/shoporder" target="_blank" class="btn btn-primary py-0">shoporder</a>
        </label>
    </div>
    <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" checked>
        <label class="form-check-label">
            <a href="/shopprofile" target="_blank" class="btn btn-primary py-0">shopprofile</a>
        </label>
    </div>
    <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" checked>
        <label class="form-check-label">
            <a href="/shopreview" target="_blank" class="btn btn-primary py-0">shopreview</a>
        </label>
    </div>
    <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" checked>
        <label class="form-check-label">
            <a href="/skills" target="_blank" class="btn btn-primary py-0">skills</a>
        </label>
    </div>
    <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" checked>
        <label class="form-check-label">
            <a href="/summary" target="_blank" class="btn btn-primary py-0">summary</a>
        </label>
    </div>
    <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" checked>
        <label class="form-check-label">
            <a href="/task21" target="_blank" class="btn btn-primary py-0">task21</a>
        </label>
    </div>
    <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox">
        <label class="form-check-label">
            <a href="/task22" target="_blank" class="btn btn-primary py-0">task22</a>
        </label>
    </div>
    <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox">
        <label class="form-check-label">
            <a href="/task31" target="_blank" class="btn btn-primary py-0">task31</a>
        </label>
    </div>
    <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox">
        <label class="form-check-label">
            <a href="/web" target="_blank" class="btn btn-primary py-0">web</a>
        </label>
    </div>
    <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" checked>
        <label class="form-check-label">
            <a href="/work" target="_blank" class="btn btn-primary py-0">work</a>
        </label>
    </div>
</main>