<main class="row g-3">
    {{#with main}}
        <div class="col-auto">
            <div class="card h-100">
                <div class="card-header h3">My educations</div>
                <div class="card-body pt-1 pb-0 pe-4">
                    <ul class="ps-3">
                        {{#each educations}}
                            <li>
                                {{name}}
                                {{#unless isEnd}} (in progress) {{/unless}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-auto">
            <div class="card h-100">
                <div class="card-header h3">My certificates</div>
                <div class="card-body pt-1 pb-0 pe-4">
                    <ul class="ps-3">
                        {{#each certificates}}
                            <li>
                                {{name}} (id: {{id}})
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    {{/with}}
</main>