<header>
    <h1>{{name}}</h1>
</header>

<main>
    {{#each users}}

    <hr />

    {{> title data='People:' big=true}}

    <section>
        <ul style="margin-left: 32px;">
            {{> user-info big=true}}
            {{#if friends}}
            <li>
                <b>Friends:</b>
                <br />
                {{#each friends}}
                <ul style="margin-left: 32px;">
                    {{> user-info}}
                    {{#if mutual_friends}}
                    <li>
                        <b>Mutual friends:</b>
                        <br />
                        {{#each mutual_friends}}
                        <ul style="margin-left: 88px;">
                            {{> user-info}}
                            {{#if mutual_friends}}
                            <li>
                                <b>Mutual friends:</b>
                                <br />
                                {{#each mutual_friends}}
                                <ul style="margin-left: 88px;">
                                    {{> user-info}}
                                </ul>
                                <br />
                                {{/each}}
                            </li>
                            {{/if}}
                        </ul>
                        <br />
                        {{/each}}
                    </li>
                    {{/if}}
                </ul>
                <br />
                {{/each}}
            </li>
            {{/if}}
        </ul>
    </section>

    <hr />

    {{> title data='Groups:' big=true}}

    <section>
        {{#unless groups}}

        {{#each friends}}
        {{#each groups}}
        <ul style="margin-left: 32px;">
            {{> user-info big=true}}
            <li>
                <b>Members:</b>
                <br />
                {{#each members}}
                <ul style="margin-left: 48px;">
                    {{> user-info}}
                </ul>
                <br />
                {{/each}}
            </li>
        </ul>
        {{/each}}
        {{/each}}

        {{else}}

        {{#each groups}}
        <ul style="margin-left: 32px;">
            {{> user-info big=true}}
            <li>
                <b>Members:</b>
                <br />
                {{#each members}}
                <ul style="margin-left: 48px;">
                    {{> user-info}}
                </ul>
                <br />
                {{/each}}
            </li>
        </ul>
        {{/each}}

        {{/unless}}
    </section>

    {{/each}}

    <hr />
</main>