<main>
    <h1 class="display-3 fw-bold">{{name}}</h1>
    {{#each users}}
        <div class="card border-5 rounded-5 border-dark mb-3">
            <div class="card-body">
                <section>
                    <div class="display-6">User</div>
                    <ul class="ms-5">
                        {{> user-info main-user=true}}
                        {{#if friends}}
                            <li>
                                <div class="h5">Friends:</div>
                                {{#each friends}}
                                    <ul class="ms-5 mt-3">
                                        {{> user-info}}
                                        {{#if mutual_friends}}
                                            <li>
                                                <div class="h5">Mutual friends:</div>
                                                {{#each mutual_friends}}
                                                    <ul class="ms-5 mt-3">
                                                        {{> user-info}}
                                                        {{#if mutual_friends}}
                                                            <li>
                                                                <div class="h5">Mutual friends:</div>
                                                                {{#each mutual_friends}}
                                                                    <ul class="ms-5 mt-3">
                                                                        {{> user-info}}
                                                                    </ul>
                                                                {{/each}}
                                                            </li>
                                                        {{/if}}
                                                    </ul>
                                                {{/each}}
                                            </li>
                                        {{/if}}
                                        {{#if groups}}
                                            <li>
                                                <div class="h5">Groups:</div>
                                                {{#each groups}}
                                                    <ul class="ms-5 mt-3">
                                                        {{> user-info qm=true}}
                                                        <li>
                                                            <b>Members:</b>
                                                            {{#each members}}
                                                                <ul class="ms-5 mt-3">
                                                                    {{> user-info}}
                                                                </ul>
                                                            {{/each}}
                                                        </li>
                                                    </ul>
                                                {{/each}}
                                            </li>
                                        {{/if}}
                                    </ul>
                                {{/each}}
                            </li>
                        {{/if}}
                        {{#if groups}}
                            <li>
                                <div class="h5">Groups:</div>
                                {{#each groups}}
                                    <ul class="ms-5 mt-3">
                                        {{> user-info qm=true}}
                                        <li>
                                            <b>Members:</b>
                                            {{#each members}}
                                                <ul class="ms-5 mt-3">
                                                    {{> user-info}}
                                                </ul>
                                            {{/each}}
                                        </li>
                                    </ul>
                                {{/each}}
                            </li>
                        {{/if}}
                    </ul>
                </section>
            </div>
        </div>
    {{/each}}
</main>