<main class="mt-5">
    <section>
        <h1 class="h3">Pages list</h1>
        <p>
            This is the list of my "Resume" project pages, you can visit them by clicking on buttons.<br />
            Technologies used: HTML, Handlebars, Bootstrap and CSS.
        </p>
    </section>

    <section>
        <a href="#" class="btn btn-primary py-1">Test</a>
    </section>
</main>