<main class="row g-3 row-cols-2">
    {{#with main}}
        <section class="col">
            {{#with summary}}
                <div class="card border-4 rounded-4 border-dark-subtle h-100">
                    <h2 class="card-header border-dark-subtle">{{title}}</h2>
                    <div class="card-body">
                        <p class="card-text">
                            {{text}}
                        </p>
                    </div>
                </div>
            {{/with}}
        </section>

        <section class="col">
            {{#with experience}}
                <div class="card border-4 rounded-4 border-dark-subtle h-100">
                    <h2 class="card-header border-dark-subtle">{{title}}</h2>
                    <div class="card-body">
                        <p class="card-text">
                            {{text}}
                        </p>
                    </div>
                </div>
            {{/with}}
        </section>
    {{/with}}
</main>