<div class="row align-content-center">
    <dt class="col-auto">
        <span class="fw-normal">{{var}}</span>
    </dt>
    <span class="col border-top border-1 mt-3"></span>
    <dd class="col-6">{{val}}</dd>
</div>