<nav>
    <ul class="nav row justify-content-start">
        <li class="nav-item col-auto ps-0">
            <a href="/summary" class="nav-link">Summary</a>
        </li>
        <li class="nav-item col-auto ps-0">
            <a href="/skills" class="nav-link">Skills</a>
        </li>
        <li class="nav-item col-auto ps-0">
            <a href="/education" class="nav-link">Education</a>
        </li>
        <li class="nav-item col-auto ps-0">
            <a href="/work" class="nav-link">Work history</a>
        </li>
    </ul>
</nav>