<div class="form-check">
    <label class="form-check-label">{{type}}</label>
    <input name="{{name}}" type="radio" class="form-check-input">
    {{#if description}}
    <div class="form-text">{{description}}</div>
    {{/if}}
</div>