<label class="form-label mb-1">{{label}}</label>
<select class="form-select
{{#if large}}form-select-lg p-4{{/if}}
{{#if small}}form-select-sm{{/if}}">
    <option disabled selected hidden>{{placeholder}}</option>
    {{#each options}}
    <option value="{{value}}">{{text}}</option>
    {{/each}}
</select>