<label class="form-label">{{label}}</label>
<input placeholder="{{placeholder}}" class="form-control
{{#if large}}form-control-lg p-4{{/if}}
{{#if small}}form-control-sm{{/if}}">
<div class="form-text">{{caption}}</div>